.card#barcelona{
    background-image: url("../../attachments/tracks/barcelona.png");
    z-index: 0;
}
.cardBox#barcelona::before{
    background: -webkit-linear-gradient(to right, red, yellow,yellow, red);
    background: linear-gradient(to right,red,yellow,yellow,red);
}
.skill-per.rectas.barcelona {
    /*progreso de las diferentes lenguajes*/
    width: 43%;
  }
  
  .skill-per.lentas.barcelona {
    /*progreso de las diferentes lenguajes*/
    width: 17%;
  }
  
  .skill-per.medias.barcelona {
    /*progreso de las diferentes lenguajes*/
    width: 50%;
  }
  
  .skill-per.rapidas.barcelona {
    /*progreso de las diferentes lenguajes*/
    width: 33%;
  }