.card#belgium{
    background-image: url("../../attachments/tracks/spa.png");
    z-index: 0;
}
.cardBox#belgium::before{
    background: -webkit-linear-gradient(to right, red, yellow, black);
    background: linear-gradient(to right,red,yellow,black);
}
.skill-per.rectas.belgium {
    /*progreso de las diferentes lenguajes*/
    width: 55%;
  }
  
  .skill-per.lentas.belgium {
    /*progreso de las diferentes lenguajes*/
    width: 17%;
  }
  
  .skill-per.medias.belgium {
    /*progreso de las diferentes lenguajes*/
    width: 39%;
  }
  
  .skill-per.rapidas.belgium {
    /*progreso de las diferentes lenguajes*/
    width: 44%;
  }