.card#italia{
    background-image: url("../../attachments/tracks/italia.png");
    z-index: 0;
}
.cardBox#italia::before{
    background: -webkit-linear-gradient(to right, red, white, green);
    background: linear-gradient(to right,red,white,green);
}
.skill-per.rectas.italia {
    /*progreso de las diferentes lenguajes*/
    width: 43%;
  }
  
  .skill-per.lentas.italia {
    /*progreso de las diferentes lenguajes*/
    width: 17%;
  }
  
  .skill-per.medias.italia {
    /*progreso de las diferentes lenguajes*/
    width: 50%;
  }
  
  .skill-per.rapidas.italia {
    /*progreso de las diferentes lenguajes*/
    width: 33%;
  }